POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=change_me
AUTH_DB_USER=auth_svc
AUTH_DB_PASSWORD=change_me
PLACEMENT_DB_USER=placement_svc
PLACEMENT_DB_PASSWORD=change_me
COMMUNITY_DB_USER=community_svc
COMMUNITY_DB_PASSWORD=change_me
REDIS_PASSWORD=change_me
DB_PORT=5433
OTP_HMAC_KEY=change_me
